body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    width: 500px;
    margin: auto;
    padding-top: 20px;
    box-sizing: border-box;
}

#modIgre{
    position: relative;
}

#modIgre button {
    padding: 10px;
    background-color: #707070;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
    height: 45px;
    position: absolute;
}

#modIgre button:hover {
    background-color: black;
    transform: translateY(-2px);
}

#btn1p{
    width: 100px;
    left: 100px;
}

#btn2p{
    width: 100px;
    left: 300px;
}

p{
    font-size: 30px;
    color: black;
    text-align: center;
}

