body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    width: 500px;
    margin: auto;
    padding-top: 20px;
    box-sizing: border-box;
}

#modIgre {
    height: 45px;
    position: relative;
}

#modIgre button {
    padding: 10px;
    background-color: #707070;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
    height: 45px;
    position: absolute;
}

#modIgre button:hover {
    background-color: black;
    transform: translateY(-2px);
}

#btn1p {
    width: 100px;
    right: 0px;
    display: none;
}

#btn2p {
    width: 100px;
    right: 0px;
}

#btnLako {
    width: 75px;
    left: 0px;
}

#btnTesko {
    width: 75px;
    left: 100px;
}

#btnPromenaImena {
    width: 175px;
    left: 0px;
    display: none;
}

#tabla {
    width: 300px;
    height: 300px;
    margin: auto;
}

.poljeTable {
    width: 100px;
    height: 100px;
    background-color: white;
    float: left;
    border: solid #707070 2px;
}

.poljeTable:hover {
    background-color: #f0f0f0;
    border-color: black;
}

#btnReset {
    padding: 10px;
    background-color: #707070;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
    width: 175px;
    height: 45px;
    float: left;
    margin-top: 50px;
}

#btnReset:hover {
    background-color: black;
    transform: translateY(-2px);
}

#krajIgrePoruka {
    font-size: 20px;
    color: black;
    text-align: center;
}

/*
.poljeTable[data-value="X"] {
    color: #dc3545;
}

.poljeTable[data-value="O"] {
    color: #28a745;
}

@media (max-width: 400px) {
    #tabla {
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: repeat(3, 80px);
    }
    
    .modIgre {
        flex-direction: column;
        width: 100%;
    }
}*/